<nav class="container-navigations">
    <ul>
        <!--
        <li class="left" ><a routerLink="test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Btn</a></li>
        <li class="left" ><a routerLink="test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Btn</a></li>
        -->

        <li class="right" ><a routerLink="boards" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" > Boards </a></li>
        <!--
        <li class="right" ><a routerLink="test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Btn</a></li>
        <li class="right" ><a routerLink="test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Btn</a></li>
        -->
    </ul>
</nav>
